<%- include('partials/head') %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <%- include('partials/header') %>

        <div class="container">
            <a href="/create" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>

            
            <table class="table table-bordered table-striped text-center mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th scope="col">Referencia</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <% productos.forEach((producto)=> { %>
                        <tr>
                            <td>
                                <%=producto.ref %>
                            </td>
                            <td>
                                <%=producto.nombre %>
                            </td>
                            <td>
                                <%=producto.precio %>
                            </td>
                            <td>
                                <%=producto.stock %>
                            </td>
                            <td>
                                <a href="/edit/<%=producto.ref %>" class="btn btn-outline-warning"><i
                                        class='bx bxs-edit'></i></a>
                                <a href="/delete/<%=producto.ref %>" class="btn btn-outline-danger"><i
                                        class='bx bxs-trash'></i></a>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>

        </div>

        <%- include('partials/footer') %>