<%- include('partials/head') %> <%- include('partials/header') %>

<h2>
    <%= __('saludo') %>
        <% if (login) {%>
            <p>
                <%= __('usuario') %>
                    <%=user %>
            </p>
            <a href="/logout" class="a-logout">
                <%= __("cerrarSesion") %>
            </a>
            <% }else { %>
                <p>
                    <%= user %>
                </p>
                <a href="/login" class="a-login">
                    <%= __("iniciarSesion") %>
                </a>

        <% } %>
</h2>

<%- include('partials/popover') %> <%- include('partials/footer') %>
